
html {
  background-color: #000000;
}
body {
  background-image: url(fondo2.jpg);
  color: #544738;
  font-family: helvetica, sans-serif;
}
 
 .colocacion {
margin: auto;
  width: 1200px;

  text-align: justify;
  background-color: #7c8f8b;
}

@font-face {
  font-family: 'KulminoituvaRegular';
  src: url('kulminoituva.ttf');
  font-weight: normal;
  font-style: normal;
 }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("fondo2.jpg");
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
 }

 li {
  float: left;
  list-style:none;
  margin-right: 1em;
  font-family: 'KulminoituvaRegular', helvetica, sans-serif;
  font-size: 25px;
  padding: 20px; 
 }
  
 li a {
  color: white;
  text-decoration: none;
  float: left;
 }
  
 li a:hover {
  color: red;
 }

 li a:hover {
  -webkit-transform: rotate(-10deg) scale(1.2);
  -moz-transform: rotate(-10deg) scale(1.2);
  -o-transform: rotate(-10deg) scale(1.2);
  -webkit-transition:All .5s ease;
  -moz-transition:All .5s ease;
  -o-transition:All .5s ease;
 }

 

.active {
  background-color: rgb(76, 155, 175);
}

 
 
 p.imagen .logo {
   float: right;
   height: 350px;
   padding-right: 10px;
   padding-bottom: 0px;
   padding-left: 10px;
 }
 
 .pie {
   background-color: #6F3662;
 }
 .pie p {
   text-align: right;
   color: #F8F8F2;
 }
 
